.services{
    height: 680px;
    border-bottom: 1px solid black;
}

.services .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.services .container .box{
    display: flex;
    width: 390px;
    flex-wrap: wrap;
}

.services .container .box h3{
    font-size: 28px;
    color: #49A37B;
    font-weight: bold;
    margin: 10px 0;
    width: 390px;
    text-align: center;
}

.services .container .box ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 80%;
    margin: 0 auto;
}

.services .container .box ul li{
    font-size: 15px;
    list-style-type: circle;
    list-style-image: url(../assets/img/li-circle.png);
    width: 100%;
    margin: 10px 10px;
}

.services .container:first-child .box:first-child ul{
    width: 80%;
    margin: auto;
}

.services .container:first-child .box:first-child ul li{
    width: 40%;
    margin: 10px 0;
    text-align: center;
}